/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(30, 38%, 92%);
  font-family: "Montserrat";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

a:link,
a:visited {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: hsl(158, 36%, 37%);
  color: #fff;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 10px;
}

a:hover,
a:active {
  background: hsl(158, 36%, 25%);
}

a img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

h1 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 0.9;
  margin-bottom: 2rem;
}

p {
  color: hsl(228, 12%, 48%);
  line-height: 1.8;
}

.container {
  max-width: 35vw;
  background-color: white;
  border-radius: 10px;
  display: flex;
  height: 55vh;
}

.img-container {
  width: 50%;
}

.info-container {
  width: 50%;
  padding: 2rem 2.5rem;
}

.info-container p {
  padding: 0 1.3rem 0 0;
  margin-bottom: 2rem;
}

.product-type {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.price-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.price-container h1 {
  color: hsl(158, 36%, 37%);
}

.price-container .strike {
  text-decoration: line-through;
}

@media (max-width: 1024px) {
  .container {
    max-width: 50vw;
  }
  .info-container {
    padding: 2rem 1rem;
  }
}

@media (max-width: 800px) {
  .container {
    height: 90vh;
    max-width: 60vw;
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    height: 33%;
  }

  .img-container img {
    border-radius: 10px 10px 0 0;
  }

  .info-container {
    width: 100%;
    padding: 1rem 1.25rem;
  }

  .info-container .product-type {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
  }

  .info-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .info-container p {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .price-container {
    justify-content: start;
  }

  .price-container h1 {
    margin-right: 1rem;
  }

  a {
    font-size: 1.25rem;
  }
}

@media (max-width: 440px) {
  .container {
    max-width: 95vw;
  }

  .img-container {
    height: 40%;
  }

  .info-container {
    padding: 1rem;
  }

  .info-container .product-type {
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }

  .info-container h1 {
    font-size: 2.5rem;
  }

  .info-container p {
    font-size: 1.25rem;
  }
}

@media (max-width: 375px) {
  .info-container h1 {
    font-size: 2.2rem;
  }

  .info-container p {
    font-size: 1.125rem;
  }
}

@media (max-width: 320px) {
  .info-container h1 {
    font-size: 2rem;
  }

  .info-container p {
    line-height: 1.6;
  }
}

@media (min-height: 1025px) and (max-height: 1400px) {
  .container {
    max-width: 70vw;
    height: 50vh;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-height: 936px) and (max-height: 1024px) {
  .container {
    max-width: 70vw;
  }

  .info-container .product-type {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .info-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .info-container p {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    line-height: 1.4;
  }

  .price-container h1 {
    font-size: 2.5rem;
    margin-right: 0.5rem;
  }

  .info-container a {
    font-size: 1.25rem;
  }
}

@media (max-height: 1024px) and (max-width: 768px) {
  @media (min-height: 936px) and (max-height: 1024px) {
    .container {
      max-width: 70vw;
    }

    .info-container .product-type {
      margin-bottom: 1.5rem;
    }

    .info-container h1 {
      font-size: 3rem;
      margin-bottom: 2.5rem;
    }

    .info-container p {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    .info-container a {
      font-size: 1.75rem;
    }
  }
}

@media (min-height: 751px) and (max-height: 935px) {
  .info-container .product-type {
    font-size: 1rem;
  }

  .info-container h1 {
    font-size: 2.25rem;
  }
}

@media (max-height: 750px) {
  .info-container .product-type {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .info-container h1 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  .info-container p {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
}
